.container-notes {
    position: fixed;
    left: 200px;
    width: 300px;
    height: 100vh;
}

.container-notes::-webkit-scrollbar {
    width: 3px;
}

@media screen and (max-width: 850px) {
    .container-notes {
        left: 155px;
        width: 230px;
    }
}

@media screen and (max-width: 750px) {
    .container-notes {
        left: 45px;
        width: 175px;
    }
}

@media screen and (max-width: 570px) {
    .container-notes {
        left: 45px;
        width: 155px;
    }

    .notes-results {
        font-size: .8rem;
    }
}